<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="main.css" type="text/css"> 
    <title>Contact form</title>
</head>

<body>
    <div class="container-fluid">
        <% include nav %>
        <!-- Header -->
        <header class="bg-trasparent">
            <div class="row text-center">
                <div class="col">
                    <h1>Contact</h1>
                </div>
            </div>
        </header>
            <!-- Form -->
            <form class="mt-5" action="/contact" method="POST">
                <div class="row mb-2 justify-content-center">
                    <div class="col-6">
                        <input class="form-input bg-dark text-white justify-content-center contact" type="text" name="name"
                            placeholder="Your Name" required>
                    </div>
                </div>
                <div class="row mb-2 justify-content-center">
                    <div class="col-6">
                        <input class="form-input bg-dark text-white placeholder-white justify-content-center contact"
                            type="text" name="email" placeholder="Your Email" required>
                    </div>
                </div>
                <div class="row mb-2 justify-content-center">
                    <div class="col-6">
                        <textarea class="contact bg-dark text-white" name="message" id="" cols="30" rows="10"
                            placeholder="Your Message" required></textarea>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <input class="btn btn-dark" type="submit" value="Make Contact">
                    </div>
                </div>
            </form>
        </div>

    </div>
    <% include footer %>
</body>

</html>