<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css" type="text/css">
    <title>Blake McCracken</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-transparent">
            <a href="/about" class="navbar-brand">Blake McCracken</a><span
                class="brand-subtext mr-auto d-none d-md-block pt-1">React / TypeScript / C#</span>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navBarMenu"
                aria-controls="navBarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navBarMenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resume">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link current" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Header -->
        <header class="bg-trasparent">
            <div class="row text-center">
                <div class="col">
                    <h1>Reach Out</h1>
                </div>
            </div>
        </header>
        <!-- Form -->
        <form action="/contact" method="POST">
            <div class="row mb-2 mt-3 justify-content-center">
                <div class="col-6 pl-0 pr-0">
                    <input class="form-input bg-dark text-white justify-content-center contact" type="text" name="name"
                        placeholder="Your Name" required>
                </div>
            </div>
            <div class="row mb-2 justify-content-center">
                <div class="col-6 pl-0 pr-0">
                    <input class="form-input bg-dark text-white placeholder-white justify-content-center contact"
                        type="email" name="email" placeholder="Your Email" required>
                </div>
            </div>
            <div class="row mb-2 justify-content-center">
                <div class="col-6 pl-0 pr-0">
                    <textarea class="contact bg-dark text-white" name="message" id="" cols="30" rows="10"
                        placeholder="Your Message" required></textarea>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <input class="btn btn-dark" type="submit" value="Send Message">
                </div>
            </div>
        </form>
        <!-- Socials -->
        <div class="row justify-content-around fixed-bottom">
            <div class="col-1 p-0 mb-2 text-center">
                <a class="socials" href="https://www.linkedin.com/in/blakemccracken" target="_blank"><i
                        class="fab fa-linkedin fa-2x"></i></a>
            </div>
            <div class="col-1 p-0 mb-2 text-center">
                <a class="socials" href="https://github.com/MC-Kraken" target="_blank"><i
                        class="fab fa-github fa-2x"></i></a>
            </div>
        </div>
    </div>
    <!-- Container End -->
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</body>

</html>