<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="main.css" type="text/css">

  <title>Blake McCracken</title>
</head>

<body>


  <div class="container-fluid">
    <!--Nav-->
    <nav class="navbar navbar-expand-md">
      <!-- <a href="/home" class="navbar-brand">Blake McCracken</a><span class="brand-subtext mr-auto d-none d-lg-block pt-1">Coder.
        Builder. Designer.</span>
      <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navBarMenu"
        aria-controls="navBarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navBarMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div> -->
    </nav>


    <!--Header-->
    <header class="bg-transparent" id="landing">
      <div class="row text-center">
        <div class="col">
          <h1>Hi, I'm Blake McCracken</h1>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <h3>I'm a software developer in Birmingham, AL</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <a href="/home"><button class="btn btn-dark mt-3">Enter</button></a>
        </div>
      </div>
    </header>
    <main>
      <section></section>
    </main>






    <!-- Container End -->
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>
</html>