$carousel-control-prev-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
$carousel-control-next-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
$carousel-indicator-active-bg: black;
//modified bootstrap variables go here//

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    height: 100vh;
}

header {
    margin-top: 5vh;
    color: black;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

// @media screen and (width: 1024px), (height: 1366px) {
//     header {
//         margin-top: 15vh;
//     }
// }

@media screen and (max-width: 750px) {
    textarea {
        height: 6.5em;
    }
}

// @media screen and (min-width: 1200px) {
//     header {
//         margin-top: 2%;
//     }
// }

.container-fluid {
    background-image: url('bg-img.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.socials {
    color: black;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.socials:hover {
    color: black;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

//////////LANDING PAGE//////////

#landing {
    margin-top: 25vh;
}

//////////NAVBAR//////////

.navbar-brand {
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
    color: black;
}

.navbar-brand:hover{
    color: black;
}

.brand-subtext {
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
    color: black;
    font-size: .75em;
    font-weight: 500;
}


.nav-link {
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
    color: black;
}

.nav-link:hover {
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
    color: black;
}

.current {
    color:black;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.25em;
}

//////////PROJECTS//////////

.appImg {
    height: 40vh;
    width: 20vh;
}

.card-title {
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.card-text {
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.card {
    margin-top: 3em;
    background-color: transparent;
    border-color: transparent;
    width: 24em;
    height: 40em;
}

.carousel-item {
    height: 33em;
}



@media screen and (width: 1024px) {
    .card {
        width: 36em;
        height: 36em;
    }
    .carousel-item {
        height: 48em;
    }
    .carousel {
        margin-top: 5em;
    }
}

@media screen and (width: 768px) {
    .card {
        width: 36em;
        height: 36em;
    }
    .carousel-item {
        height: 40em;
    }
}

@media screen and (width: 360px) {
    .carousel {
        margin-top: 1em;
    }
    .carousel-item {
        height: 28.25em;
    }
    .card {
        width: 20em;
        height: 18.75em;
        margin-top: .5em;
    }
    .appImg {
        height: 30vh;
        width: 15vh;
    }
    h1 {
        margin-bottom: 0;
    }
}

@media screen and (width: 375px) {
    .carousel {
        margin-top: 1em;
    }
    .carousel-item {
        height: 36em;
    }
    .card {
        width: 18em;
        height: 18.75em;
        margin-top: 0;
    }
    .appImg {
        height: 20vh;
        width: 10vh;
    }
    h1 {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    .carousel {
        margin-top: 1em;
    }
    .carousel-item {
        height: 18.5em;
    }
    .card-body {
        padding-top: 1rem;
    }
    .card-text {
        margin-bottom: .5rem;
    }
    .card {
        width: 18em;
        height: 18.75em;
        margin-top: 0;
    }
    .card-title {
        margin-bottom: 0;
    }
    .appImg {
        height: 18vh;
        width: 10vh;
    }
    h1 {
        margin-bottom: 0;
    }
}

//////////CONTACT//////////

.contact {
    width: 100%;
}

textarea {
    resize: vertical; 
    max-height: 30em;
    min-height: 2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
//   border: 3px solid rgb(0, 89, 255);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #343a40 inset;
  box-shadow: 0 0 0px 1000px #343a40 inset;
  transition: background-color 5000s ease-in-out 0s;
}

//////////ABOUT//////////

.portrait {
    background-image: url('portrait.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    // box-shadow: 5px 10px black;
}

.about {
    height: 32vh;
    margin-top: 15vh;
}

.about-text {
    font-size: 2vw;
}

@media screen and (min-width: 900px) {
    .about-text {
      font-size: 1.25vw;
      text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
    }
}





