


@import "../node_modules/bootstrap/scss/bootstrap";


header {
    color: black;
    background-color: transparent;
}

body {
    background-image: url(bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
}



.brand-subtext {
    color:gainsboro;
    font-size: .75em;
}


.nav-link {
    color: white;
}


.card-img-top {
    height: 15em;
}

.card {
    margin-top: 2em;
}

.contact {
    width: 100%;
}

.socials {
    position: absolute;
    color: white;
    margin-right: 1em;
    margin-top: 1em;
    height: 3em;   
}

.socials:hover {
    color:white;
}

footer {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color:#708090;
} 

