<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="main.css" type="text/css">
    <title>Blake McCracken</title>
</head>

<body>
    <div class="container-fluid">
        <% include nav %>
        <header class="bg-transparent">
            <div class="row text-center">
                <div class="col">
                    <h1>Projects</h1>
                </div>
            </div>
        </header>

        <!--Cards-->
        <div class="row">
            <div class="col-6">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="https://cdn.instructables.com/FQT/IJLK/JAWTX2WA/FQTIJLKJAWTX2WA.LARGE.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Tic-Tac-Toe</h5>
                        <p class="card-text">Here is a game of Tic-Tac-Toe that I built using JavaScript.</p>
                        <a href="https://github.com/MC-Kraken/Tic-tac-toe" class="btn btn-dark" target="_blank">Check
                            It
                            Out
                            On Github</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.toolshero.com/wp-content/uploads/2018/02/to-do-lists-toolshero-696x348.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">To-Do-List</h5>
                        <p class="card-text">Here is a to-do-list that I created using only DOM.</p>
                        <a href="https://github.com/MC-Kraken/toDoList" class="btn btn-dark">Check It Out On Github</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="https://i1.wp.com/flinchbot.com/beer/wp-content/uploads/2015/11/99bottlesofbeeronthewall_thumbnail.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">99 Lines of Code</h5>
                        <p class="card-text">Input a few names and watch the code do the work.</p>
                        <a href="https://github.com/MC-Kraken/99-lines-of-code" class="btn btn-dark">Check It Out On
                            Github</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="https://ih1.redbubble.net/image.109336634.1604/flat,550x550,075,f.u1.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">NodeJS and JSON Lab</h5>
                        <p class="card-text">A showcase of my competency with NodeJS and JSON</p>
                        <a href="https://github.com/MC-Kraken/99-lines-of-code" class="btn btn-dark">Check It Out On
                            Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include footer %>
</body>

</html>