@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-image: url('./assets/bg-img.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#root {
  max-height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
}

.portrait-mode {
  display: none;
  @media screen and (max-aspect-ratio: 13/9) {
    height: 100%;
    width: 100%;
    display: block;
  }
}

.landscape-mode {
  display: none;
  @media (max-width: 800px) and (min-aspect-ratio: 13/9) {
    height: 100%;
    display: block;
    text-align: center;
  }
}

.row {
  max-width: 100vw;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 12vh;
  color: black;
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}

@media screen and (max-width: 768px) {
  textarea {
    height: 6.5em;
  }
}

//////////FOOTER//////////
.footer {
  display: flex;
  position: absolute;
  bottom: 20px;
  min-width: 100vw;
}

.socials {
  color: black;
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;

  i {
    font-size: 2em;
  }
}

.socials:hover {
  color: black;
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}

//////////LANDING PAGE//////////

#landing {
  margin-top: 25vh;
  flex-direction: column;
}

//////////NAVBAR//////////

.navbar {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 45px;
    left: 20px
  }
}

@media screen and (min-width: 769px) {
  .navbar-collapse {
    position: absolute;
    right: 13px;
    top: 7px
  }
}


.navbar-toggler {
  margin-left: auto;
}

.navbar-collapse.collapse {
  justify-content: flex-end;
}

.navbar-brand {
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
  color: black;
}

.navbar-brand:hover {
  color: black;
}

.brand-subtext {
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
  color: black;
  font-size: .75em;
  font-weight: 500;
}

@media screen and (max-width: 450px) {
  .brand-subtext {
    display: none;
  }
}

.nav-link {
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
  color: black;
}

.nav-link:hover {
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
  color: black;
}

.current {
  color: black;
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.25em;
}

//////////RESUME//////////
.resume {
  height: 300px;
  display: flex;
  justify-content: center;

  .thumbnail {
    background-image: url("../public/resume.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.resume-button {
  width: 100px;
}

//////////CONTACT//////////

.contact {
  width: 100%;
}

#contactForm div {
  margin: 0;
}

.bg-dark.text-white::placeholder {
  color: white;
}

textarea {
  resize: vertical;
  max-height: 30em;
  min-height: 2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  //   border: 3px solid rgb(0, 89, 255);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 1000px #343a40 inset;
  box-shadow: 0 0 0 1000px #343a40 inset;
  transition: background-color 5000s ease-in-out 0s;
}

//////////POST//////////
#post {
  margin-top: 25vh;
  flex-direction: column;
}

//////////ABOUT//////////

.portrait {
  height: 225px;
  margin-top: 1rem;
  background-image: url('assets/portrait.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .portrait {
    height: 160px;
  }
}

.about {
  height: 32vh;
  max-width: 100vw;
}

.about-text {
  padding: 0 40px;
  font-size: 3vw;
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}

@media screen and (min-width: 1280px) {
  .about-text {
    font-size: 1.25vw;
    text-shadow: -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  }
}

@media screen and (min-width: 500px) and (max-width: 1279px) {
  .about-text {
    font-size: 1.5vw;
    text-shadow: -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  }
}

@media screen and (max-height: 450px) and (orientation: landscape) {
  body {
    height: 100vw;
    transform: rotate(90deg);
  }

  div.row.text-center {
    max-width: 100%;
  }

  div.fixed-bottom {
    max-width: 100%;
  }

  .container-fluid {
    height: 100vw;
  }
}

// iPad Pro
@media (width: 1024px) and (height: 1366px) {
  h1 {
    margin-top: 10vh;
  }
}





